
<ion-grid>
	<ion-row class="ion-justify-content-center">
		<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
			<div class="ion-text-center">
        <h4>Bienvenue sur Syvios</h4>
        <h6>Merci de vous identifier</h6>
      </div>
      <div class="ion-padding">
        <form [formGroup]="loginForm">
          <ion-item>
            <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
          </ion-item>         
          <div class="errorMessages">
            <ng-container *ngFor="let error of errorMessages.email">
              <div class="errorMessage" *ngIf="
                                          loginForm.get('email').hasError(error.type) && 
                                          (loginForm.get('email').dirty || 
                                          loginForm.get('email').touched)
                                        ">
                <ion-icon name="information-circle-outline"></ion-icon> {{ error.message }}
              </div>
            </ng-container>    
          </div>
         
          <ion-item>
            <ion-input formControlName="password" type="password" placeholder="Mot de passe"></ion-input>
          </ion-item>
          <div class="errorMessages">
            <ng-container *ngFor="let error of errorMessages.password">
              <div class="errorMessage" *ngIf="
                                          loginForm.get('password').hasError(error.type) && 
                                          (loginForm.get('password').dirty || 
                                          loginForm.get('password').touched)
                                        ">
                <ion-icon name="information-circle-outline"></ion-icon> {{ error.message }}
              </div>
            </ng-container>
          </div>
       
          <div class="ion-padding">
            <ion-button [disabled]="!loginForm.valid" size="large" expand="block" type="submit" block (click)="loginButton()">Connexion</ion-button>
          </div>
          <ion-item lines="none">
            <ion-button color="light" slot="end" class="forgetPassword">Mot de passe oublié ?</ion-button>
          </ion-item>
        </form>
      </div>
      <ion-item><ion-label>{{ errStatus }}</ion-label></ion-item>
		</ion-col>
	</ion-row>
</ion-grid>

